.example-page {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  main {
    max-width: 1200px;
    margin: 0 auto;

    .timelane-container {
      height: 600px;
    }

    .controls {
      margin-top: 20px;
    }
  }
}
