* {
  box-sizing: border-box;
}
.timelane {
  --timelane-aside-width: 150px;
  --timelane-border-color-light: #f0f0f0;
  --timelane-border-color-normal: lightgray;
  --timelane-border-color-dark: gray;

  --timelane-highlight-color: #f8f8f8;
  --timelane-focused-color: rgba(0, 0, 255, 0.1);
  --timelane-hover-color: rgba(0, 0, 0, 0.05);

  overflow: auto;
  position: relative;
  width: 100%;
  height: 100%;

  .timelane-header {
    width: fit-content;
    top: 0;
    z-index: 101;
    background: white;

    .timelane-header-months {
      display: flex;
      flex-flow: row nowrap;

      .timelane-header-month-label {
        border-right: 1px solid var(--timelane-border-color-normal);
        border-bottom: 1px solid var(--timelane-border-color-normal);
        overflow: hidden;
        font-size: 1em;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;

        &:hover {
          background: var(--timelane-hover-color);
        }
      }
    }

    .timelane-header-weeks {
      display: flex;
      flex-flow: row nowrap;

      .timelane-header-week-label {
        border-right: 1px solid var(--timelane-border-color-normal);
        border-bottom: 1px solid var(--timelane-border-color-normal);
        overflow: hidden;
        font-size: 1em;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;

        &:hover {
          background: var(--timelane-hover-color);
        }
      }
    }

    .timelane-header-days {
      display: flex;
      flex-flow: row nowrap;

      .timelane-header-day-label {
        border-right: 1px solid var(--timelane-border-color-normal);
        overflow: hidden;
        font-size: 0.8em;
        height: 20px;
        line-height: 20px;
        text-align: center;
        cursor: pointer;

        &:hover {
          background: var(--timelane-hover-color);
        }

        &.timelane-header-day-label-focused {
          background: var(--timelane-focused-color);
        }
      }
    }
  }

  .timelane-header-corner {
    z-index: 102;
    background: white;
  }

  .timelane-body {
    z-index: 99;
    position: relative;
    width: fit-content;

    .timelane-lane {
      border-color: var(--timelane-border-color-normal) !important;
      border-top: 1px solid gray;
      margin-top: -1px;
      overflow: hidden;

      .timelane-drop-target {
        position: relative;
        width: 100%;
        height: 100%;

        .timelane-item {
          position: absolute;
          cursor: pointer;
          border-radius: 3px;

          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
          &.timelane-item-marked {
            .timelane-allocation {
              border: 2px dashed rgba(0, 0, 0, 0.5);
            }
          }

          .timelane-item-drag-handle {
            height: 100%;
          }

          .timelane-item-resize-handle {
            background: #bed7dc;
            border-radius: 5px;
            top: 4px !important;
            bottom: 4px !important;
            height: auto !important;
            width: 6px !important;
            z-index: 2;
            background: transparent !important;
            transition: 0.2s;

            &:hover {
              background: rgba(0, 0, 0, 0.1) !important;
            }

            &.timelane-item-resize-handle-left {
              left: 0 !important;
              margin-left: 1px;
            }
            &.timelane-item-resize-handle-right {
              right: 0 !important;
            }
          }

          .timelane-allocation {
            background: #92a8d1;
            border-radius: 2px;
            border: 2px solid transparent;
            height: calc(100% - 1px);
            overflow: hidden;
            cursor: pointer;
            padding: 0 4px;
            margin-left: 1px;

            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */

            container-type: size;
            container-name: timelane-allocation;

            .timelane-allocation-title {
              font-weight: bold;
              transform-origin: top left;
              line-height: 30px;
              white-space: nowrap;
            }

            @container timelane-allocation (max-height: 30px) {
              .timelane-allocation-title {
                margin: 0;
              }
            }

            &.timelane-allocation-selected {
              border: 2px dashed rgba(0, 0, 0, 0.5);
            }
          }

          &.dragging {
            opacity: 0;
          }
        }

        .timelane-drop-preview {
          background: blue;
          position: absolute;
          border-radius: 2px;
          color: white;
        }
      }

      &.timelane-row-focused {
        background: var(--timelane-focused-color);
      }
    }
  }

  .timelane-aside {
    width: var(--timelane-aside-width);
    background: white;

    .timelane-aside-lane-header {
      border-top: 1px solid var(--timelane-border-color-normal);
      margin-top: -1px;
      padding: 10px;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      &.timelane-aside-lane-header-focused {
        background: var(--timelane-focused-color);
      }

      &:hover {
        .timelane-aside-resource-menu {
          opacity: 1;
        }
      }

      .timelane-aside-resource-menu {
        position: absolute;
        top: 5px;
        right: 5px;
        opacity: 0;
        transition: 0.15s;

        &.timelane-aside-resource-menu-open {
          opacity: 1;
        }
      }
    }
  }

  .timelane-background {
    position: relative;
    width: 100%;
    height: 100%;

    .timelane-background-inner {
      display: flex;
      flex-flow: row nowrap;
      height: 100%;

      .timelane-background-day-label {
        border-right: 1px solid var(--timelane-border-color-light);
        overflow: hidden;
        font-size: 0.8em;
        height: 100%;
        z-index: -100;

        &.timelane-background-day-label-sunday {
          border-right: 1px solid var(--timelane-border-color-normal);
        }

        &.timelane-background-day-label-focused {
          background: var(--timelane-focused-color);
        }
      }

      .timelane-background-focused-day-position {
        position: absolute;
        height: 100%;
        background: var(--timelane-focused-color);
        z-index: -101;
      }
    }
  }
}

.timelane-header-tooltip,
.timelane-header-day-tooltip {
  font-size: 2em;
}
