.timeline-layout {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;

  .timeline-layout-inner {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: grid;

    grid-template-areas:
      "corner-tl header corner-tr"
      "aside-l body aside-r"
      "corner-bl footer corner-br";

    .timeline-layout-header,
    .timeline-layout-footer,
    .timeline-layout-aside,
    .timeline-layout-corner {
      background: white;
    }

    .timeline-layout-header {
      grid-area: header;

      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 101;
      overflow: hidden;
    }

    .timeline-layout-body {
      grid-area: body;
      z-index: 100;
    }

    .timeline-layout-background {
      grid-area: body;
      z-index: -1;
    }

    .timeline-layout-footer {
      grid-area: footer;

      position: sticky;
      position: -webkit-sticky;
      bottom: 0;
      z-index: 101;
      border-top: 1px solid lightgray;
    }

    .timeline-layout-aside {
      grid-area: aside-l;

      position: sticky;
      position: -webkit-sticky;
      left: 0;
      z-index: 101;

      &.timeline-layout-aside-right {
        grid-area: aside-r;

        right: 0;
        left: initial;
        border-left: 1px solid lightgray;
      }
    }

    .timeline-layout-corner {
      position: sticky;
      position: -webkit-sticky;
      z-index: 102;

      &.timeline-layout-corner-top-left {
        grid-area: corner-tl;
        top: 0;
        left: 0;
        border-bottom: 1px solid lightgray;
        border-right: 1px solid lightgray;
      }
      &.timeline-layout-corner-top-right {
        grid-area: corner-tr;
        top: 0;
        right: 0;
        border-bottom: 1px solid lightgray;
        border-left: 1px solid lightgray;
      }
      &.timeline-layout-corner-bottom-left {
        grid-area: corner-bl;
        bottom: 0;
        left: 0;
        border-top: 1px solid lightgray;
        border-right: 1px solid lightgray;
      }
      &.timeline-layout-corner-bottom-right {
        grid-area: corner-br;
        bottom: 0;
        right: 0;
        border-top: 1px solid lightgray;
        border-left: 1px solid lightgray;
      }
    }
  }
}
